<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Monster1/Desktop/workspace/InarAcademy/mavenproject">
        <classes>



            <class name="Exercises.RegistrationTest">

            </class>

        </classes>
    </test>
</suite>